tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style40
	{background:#FFC7CE;
	mso-pattern:black none;
	color:#9C0006;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Bad;
	mso-style-id:27;}
.style49
	{background:#C6EFCE;
	mso-pattern:black none;
	color:#006100;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Good;
	mso-style-id:26;}
.style54
	{color:blue;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hyperlink;
	mso-style-id:8;}
a:link
	{color:blue;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:purple;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.style57
	{background:#FFEB9C;
	mso-pattern:black none;
	color:#9C6500;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Neutral;
	mso-style-id:28;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font5
	{color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.font6
	{color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style40;
	color:#9C0006;
	background:#FFC7CE;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style57;
	color:#9C6500;
	background:#FFEB9C;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style49;
	color:#006100;
	background:#C6EFCE;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	background:black;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	color:white;
	background:black;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-weight:700;}
.xl71
	{mso-style-parent:style0;
	font-style:italic;}
.xl72
	{mso-style-parent:style0;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl73
	{mso-style-parent:style0;
	text-decoration:underline;
	text-underline-style:single;}
.xl74
	{mso-style-parent:style0;
	text-decoration:underline;
	text-underline-style:double;}
.xl75
	{mso-style-parent:style0;}
.xl76
	{mso-style-parent:style0;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl77
	{mso-style-parent:style0;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl78
	{mso-style-parent:style0;
	border-top:.5pt dashed red;
	border-right:.5pt dashed red;
	border-bottom:.5pt dashed red;
	border-left:none;}
.xl79
	{mso-style-parent:style0;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl81
	{mso-style-parent:style0;
	mso-number-format:0%;}
.xl82
	{mso-style-parent:style54;
	color:blue;
	text-decoration:underline;
	text-underline-style:single;}
.xl83
	{mso-style-parent:style54;
	color:blue;
	text-decoration:underline;
	text-underline-style:single;
	text-align:left;}
.xl84
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	background:red;
	mso-pattern:white none;}
.xl86
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black gray-50;}
.xl87
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black gray-50;}
.xl88
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red gray-50;}
.xl89
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black gray-75;}
.xl90
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black gray-75;}
.xl91
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red gray-75;}
.xl92
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black gray-25;}
.xl93
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black gray-25;}
.xl94
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red gray-25;}
.xl95
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black horz-stripe;}
.xl96
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black horz-stripe;}
.xl97
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red horz-stripe;}
.xl98
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black vert-stripe;}
.xl99
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black vert-stripe;}
.xl100
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red vert-stripe;}
.xl101
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black reverse-diag-stripe;}
.xl102
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black reverse-diag-stripe;}
.xl103
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red reverse-diag-stripe;}
.xl104
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black diag-stripe;}
.xl105
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black diag-stripe;}
.xl106
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red diag-stripe;}
.xl107
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black diag-cross;}
.xl108
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black diag-cross;}
.xl109
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red diag-cross;}
.xl110
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black thick-diag-cross;}
.xl111
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black thick-diag-cross;}
.xl112
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red thick-diag-cross;}
.xl113
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black thin-horz-stripe;}
.xl114
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black thin-horz-stripe;}
.xl115
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red thin-horz-stripe;}
.xl116
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black thin-vert-stripe;}
.xl117
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black thin-vert-stripe;}
.xl118
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red thin-vert-stripe;}
.xl119
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black thin-reverse-diag-stripe;}
.xl120
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black thin-reverse-diag-stripe;}
.xl121
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red thin-reverse-diag-stripe;}
.xl122
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black thin-diag-stripe;}
.xl123
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black thin-diag-stripe;}
.xl124
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red thin-diag-stripe;}
.xl125
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black thin-horz-cross;}
.xl126
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black thin-horz-cross;}
.xl127
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red thin-horz-cross;}
.xl128
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black thin-diag-cross;}
.xl129
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black thin-diag-cross;}
.xl130
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red thin-diag-cross;}
.xl131
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black gray-125;}
.xl132
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black gray-125;}
.xl133
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red gray-125;}
.xl134
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black gray-0625;}
.xl135
	{mso-style-parent:style0;
	background:blue;
	mso-pattern:black gray-0625;}
.xl136
	{mso-style-parent:style0;
	background:white;
	mso-pattern:red gray-0625;}
.xl137
	{mso-style-parent:style0;
	mso-number-format:0;}
.xl138
	{mso-style-parent:style0;
	color:#006100;
	text-align:right;
	background:#C6EFCE;
	mso-pattern:black none;}
.xl139
	{mso-style-parent:style0;
	color:#76933C;
	background:#CCFFCC;
	mso-pattern:black none;}
.xl140
	{mso-style-parent:style0;
	mso-number-format:Scientific;}
.xl141
	{mso-style-parent:style0;
	mso-number-format:"0\.000E+00";}
.xl142
	{mso-style-parent:style0;
	mso-number-format:"\@";}
.xl143
	{mso-style-parent:style0;
	mso-number-format:00000;}
.xl144
	{mso-style-parent:style0;
	mso-number-format:"\[Blue\]\#";}
.xl145
	{mso-style-parent:style0;
	mso-number-format:"\[Green\]\#\;\[Red\]\#";}
.xl146
	{mso-style-parent:style0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";}
.xl147
	{mso-style-parent:style0;
	mso-number-format:"Short Date";}
.xl148
	{mso-style-parent:style0;
	mso-number-format:"\[$-F800\]dddd\\\,\\ mmmm\\ dd\\\,\\ yyyy";}
.xl149
	{mso-style-parent:style0;
	mso-number-format:"\[$-F400\]h\:mm\:ss\\ AM\/PM";}
.xl150
	{mso-style-parent:style0;
	mso-number-format:Percent;}
.xl151
	{mso-style-parent:style0;
	mso-number-format:"\#\\ ?\/?";}
.xl152
	{mso-style-parent:style0;
	text-align:center;}
.xl153
	{mso-style-parent:style0;
	text-align:left;}
.xl154
	{mso-style-parent:style0;
	mso-number-format:Fixed;}
.xl155
	{mso-style-parent:style0;
	mso-number-format:"0\.0000";}
.xl156
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00";}
.xl157
	{mso-style-parent:style0;
	text-align:center;
	mso-rotate:90;}
.xl158
	{mso-style-parent:style0;
	text-align:center;
	mso-rotate:-90;}
.xl159
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;
	mso-rotate:15;}
.xl160
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;
	mso-rotate:-15;}
.xl161
	{mso-style-parent:style0;
	text-align:center;
	layout-flow:vertical;}
.xl162
	{mso-style-parent:style0;
	color:red;
	text-align:center;
	background:yellow;
	mso-pattern:black none;}
.xl163
	{mso-style-parent:style0;
	text-align:right;}
.xl164
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;}
.xl165
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:top;}
.xl166
	{mso-style-parent:style0;
	font-family:"Comic Sans MS", cursive;
	mso-font-charset:0;
	text-align:center;}
